# Extracion of negative slots

In [1]:
import pandas as pd

In [2]:
wikidata_triplets_df = pd.read_csv("../data/wikidata_triplets_beta.csv")
wikidata_triplets_negatives_df = pd.read_csv(
    "../data/wikidata_triplets_negative_beta.csv"
)

In [3]:
wikidata_triplets_negatives_df.head()

,q_id,q_name,p_id,p_name,p_value,p_value_type
0,Q23,George Washington,P106,occupation,politician,wikibase-item
1,Q23,George Washington,P237,coat of arms,coat of arms of George Washington,wikibase-item
2,Q23,George Washington,P373,Commons category,George Washington,string
3,Q23,George Washington,P166,award received,Thanks of Congress,wikibase-item
4,Q23,George Washington,P119,place of burial,Mount Vernon,wikibase-item

In [4]:
# Create a pandas Dataframe with p_id, p_name and the amount of times it appears in the negative triplets

p_id = []
p_name = []
p_count = []

for i in range(len(wikidata_triplets_negatives_df)):
    p = wikidata_triplets_negatives_df.iloc[i]["p_id"]
    if p not in p_id:
        p_id.append(p)
        p_name.append(wikidata_triplets_negatives_df.iloc[i]["p_name"])
        p_count.append(1)
    else:
        p_count[p_id.index(p)] += 1

p_df = pd.DataFrame({"p_id": p_id, "p_name": p_name, "count": p_count})
p_df = p_df.sort_values(by="count", ascending=False)
p_df = p_df.reset_index(drop=True)
p_df.to_csv("../data/p_negatives.csv", index=False)