# Wikidata Triplets Extraction

In [1]:
from wikidata_extractor import WikidataExtractor

## Data Visualization

In [2]:
extractor = WikidataExtractor("../../data/wikidata/latest-all.json.bz2")
extraction = extractor.extract()

Processing lines: 100%|██████████| 10000/10000 [00:13<00:00, 718.40line/s]

In [3]:
extraction

,q_id,q_name,p_id,p_name,p_value,p_value_type
0,Q31,Belgium,P571,inception,"October 04, 1830 at 12:00:00 AM CE UTC",time
1,Q31,Belgium,P856,official_website,https://www.belgium.be/,url
2,Q31,Belgium,P463,member_of,Q458,wikibase-item
3,Q23,George Washington,P509,cause_of_death,Q1347065,wikibase-item
4,Q23,George Washington,P20,place_of_death,Q731635,wikibase-item
...,...,...,...,...,...,...
9995,Q52277,Aliano,P856,official_website,https://www.comune.aliano.mt.it/,url
9996,Q52282,Cirigliano,P856,official_website,http://www.comune.cirigliano.mt.it/,url
9997,Q52288,Garaguso,P856,official_website,http://www.comune.garaguso.mt.it,url
9998,Q52293,Bullet,P856,official_website,http://www.bullet.ch,url
9999,Q52293,Bullet,P463,member_of,Q21122037,wikibase-item

## Triplet extraction